extends layout

block content
  div.category-detail-page
    div.name-and-desc
      div.name-add-delete
        h1= category.name

        a.btn(href=`${category._id}/update`) Update 

        form(method='POST')
          div
            input(type='hidden', name='categoryid', value=category._id )
          button.btn(type='submit') Delete
      h3.error= error
      p= category.description
    

    if item.length 
        div.cards-container
          each i in item
            div.item-card
              if i.profile_img
                div.card-img-container
                  img.card-img(src=i.profile_img, alt="item image")
              else
                div.card-img-container
                  img.card-img(src="/images/placeholder.jpeg", alt="no image")
              div.card-info
                a.card-link(href=i.url)  #{i.name}
                a.card-category(href=i.category.url) #{i.category.name}
                p $#{i.price}
                p Only #{i.number_in_stock} left in stock
    else 
      p There are no Items with this category.