extends layout

block content
  h1= category.name
  p= category.description
    form(method='POST')
      div.form-group
        input(type='hidden', name='categoryid', value=category._id )
      button.btn(type='submit') Delete

  if item.length 
    ul
      each i in item
        li 
          a(href=i.url)  #{i.name}
  else 
    p There are no Items with this category.