extends layout

block content
  div.item-detail-page
    div.name-and-desc
      div.name-add-delete
        h1= category.name

        a.btn(href=`${category._id}/update`) Update 

        form(method='POST')
          div.form-group
            input(type='hidden', name='categoryid', value=category._id )
          button.btn(type='submit') Delete
      p= category.description
    

    if item.length 
        div.cards-container
          each i in item
            div.item-card
              img.card-img(src=i.profile_img, alt="item picture")
              div.card-info
                a.card-link(href=i.url)  #{i.name}
                a.card-link(href=i.category.url) #{i.category.name}
                p $#{i.price}
                p Only #{i.number_of_stock} left in stock
    else 
      p There are no Items with this category.