extends layout

block content

  h1 #{title}

  form(method= "POST" enctype="multipart/form-data")
    div.form-group
      label(for='name') Name:
      input(type='text' name='name' required value=(undefined === item ? '' : item.name))
    div.form-group
      label(for='description') Description:
      textarea(name="description" cols="30" rows="10", required)
        if undefined === item
          | 
        else
          | #{item.description}
    div.form-group
        label(for='category') Category:
        select#author.form-control(name='category' required)
            option(value='') --Please select an category--
            for cat in categories
                if item 
                    if cat._id.toString()===item.category._id.toString()
                      option(value=cat._id selected) #{cat.name}
                    else
                      option(value=cat._id) #{cat.name}
                else
                  option(value=cat._id) #{cat.name}
    div.form-group
      label(for='uploaded_file') Upload Image:
      input(type="file" name="uploaded_file" accept="image/*")
    div.form-group
      label(for='price') Price:
      input(type="number" name="price" step="0.01" required value=(undefined === item ? '' : item.price.toString()))
    div.form-group
      label(for='number_in_stock') Stock:
      input(type="number" name="number_in_stock" required value=(undefined === item ? '' : item.number_in_stock))
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg